*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
} 
/* share-style */
header {
    width: 99%;
    max-width: 1600px;
    height: 808px;
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
      background-position: center;  
    background-repeat: no-repeat;
    /* display: flex; */
    
    display: flex;
    /* align-items: right; */
    justify-content: center;
    flex-direction: column;

}
header .heading-container{
    width: 525px;
   margin: 216px 130px 166px 845px;
   /* border: 1px solid black; */
   text-align: right;
   border-radius: 5px;
}
header .heading-container h2{
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}
header .heading-container p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}
.btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFFFFF;
    padding: 21px 26px;
    font-size: 20px;
    font-weight: 300;
    border: none;
}

/* #failure{
     
    width: 70%;
    
    max-width: 1072px;
     margin: 0 auto;
    border: 1px solid black;
    
} */
#failure .failure-container{
   width: 70%;
    
    max-width: 1072px;
     margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    gap: 87px;
    justify-content: center;
    margin-top: 131px;
    margin-bottom: 130px;

}
#failure .failure-container .failure-image{
    max-width: 569px;
}
#failure .failure-container .failure-info{
    width: 416px;
    padding-top: 370px;
}
#failure .failure-container .failure-info h3{
    color: #151414;
    font-size: 40px;
    margin-bottom: 24px;
    width: 288px;
}
#failure .failure-container .failure-info p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}
#failure .failure-container .failure-info .bulet-point{
    list-style: none;
}
 .failure-info .bulet-point li::before{
   
  content: "✔ ";
  color:#16D887;

}

#plan{
    
    width: 1141px;
    /* margin-top: 130px; */
    /* border: 1px solid black; */
    margin: 0 auto;
    text-align: center;
}
#plan h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 55.7px;
}
#plan .plan-container{
    /* border: 1px solid black; */
    width: 1141px;
    display: flex;
    margin: 0 auto;
    gap:86px;
    justify-content: space-around;
}
.plan-container .plan-style{
    padding-top: 6px;
    width: 270px;
}
.plan-container .plan-style img{
    width: 92.92px;
    margin-bottom: 24px;
}
.plan-container .plan-style h3{
    color: #151414;
    font-size: 28px;
    margin-bottom: 16px;
}
.plan-container .plan-style p{
    color: #737272;
    font-size: 24px;
    font-weight: 300;
}


