*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
} 
/* share-style */
header {
    width: 99%;
    max-width: 1600px;
    height: 808px;
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
      background-position: center;  
    background-repeat: no-repeat;
    /* display: flex; */
    
    display: flex;
    /* align-items: right; */
    justify-content: center;
    flex-direction: column;

}
header .heading-container{
    width: 525px;
   margin: 216px 130px 166px 845px;
   /* border: 1px solid black; */
   text-align: right;
   border-radius: 5px;
}
header .heading-container h2{
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}
header .heading-container p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}
.btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFFFFF;
    padding: 21px 26px;
    font-size: 20px;
    font-weight: 300;
    border: none;
}

/* #failure{
     
    width: 70%;
    
    max-width: 1072px;
     margin: 0 auto;
    border: 1px solid black;
    
} */
#failure .failure-container{
   width: 70%;
    
    max-width: 1072px;
     margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    gap: 87px;
    justify-content: center;
    margin-top: 131px;
    margin-bottom: 130px;

}
#failure .failure-container .failure-image{
    max-width: 569px;
}
#failure .failure-container .failure-info{
    width: 416px;
    padding-top: 370px;
}
#failure .failure-container .failure-info h3{
    color: #151414;
    font-size: 40px;
    margin-bottom: 24px;
    width: 288px;
}
#failure .failure-container .failure-info p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}
#failure .failure-container .failure-info .bulet-point{
    list-style: none;
}
 .failure-info .bulet-point li::before{
   
  content: "✔ ";
  color:#16D887;

}

#plan{
    
    width: 1141px;
    /* margin-top: 130px; */
    /* border: 1px solid black; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 130px;
}
#plan h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 55.7px;
}
#plan .plan-container{
    /* border: 1px solid black; */
    width: 1141px;
    display: flex;
    margin: 0 auto;
    gap:86px;
    justify-content: space-around;
}
.plan-container .plan-style{
    padding-top: 6px;
    width: 270px;
}
.plan-container .plan-style img{
    width: 92.92px;
    margin-bottom: 24px;
}
.plan-container .plan-style h3{
    color: #151414;
    font-size: 28px;
    margin-bottom: 16px;
}
.plan-container .plan-style p{
    color: #737272;
    font-size: 24px;
    font-weight: 300;
    /* margin-bottom: 130px; */
}
#banner{
    /* border: 1px solid black; */
    width: 71%;
    height: 340px;
    max-width: 1140px;
    margin: 0 auto;
  background-image:
        url("../images/gradient2.png"),
        url("../images/watch.png");

    background-repeat: no-repeat, no-repeat;

    background-size: cover, cover;

    background-position:top center, center;
    border-radius: 8px;
    position:relative;
}
#banner .banner-container{
    /* border: 1px solid  black; */
    width: 469px;
    /* height: 182px; */
    margin-top: 59px;
    position: absolute;
    top: 59px;            /* figma Y */
    left: 40px;
    
}
.banner-container h3{
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 24px;
}
.banner-container .btn{
    background-color: #FFFFFF;
    color:#F15B22;
    border-radius: 5px;
    padding: 20px 36px;
    font-size: 20px;
}

footer{
    width: 99%;
    max-width: 1600px;
    background-color: #151414;
    margin-top: 130px;
}

.footer-container{
    padding: 130px 230px;
    display: flex;
    margin: 0 auto;
    gap: 331px;
}
.footer-container .future{
    /* border: 1px solid white; */
    width: 485px;
    
}
.footer-container .future h2{
    color: #F8F8F8;
    font-size: 40px;
    margin-bottom: 16px;
}
.footer-container .future p{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.future .contact a{
    margin-right: 17px;
}
.footer-container .subscriber{
    /* border: 1px solid white; */
    width: 325px;
    

}
.footer-container .subscriber h2{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 31px;
}
.footer-container .subscriber input[type="email"]{
    border-radius: 8px;
    width: 325px;
    min-height: 64px;
    background: none;
    border-color: #FFFFFF;
    color:#F3F3F3;
    padding: 22px;
    margin-bottom: 16px;

}
.subscriber .btn1{
    width: 170px;
    height: 64px;
    color: #F15B22;
    padding: 20px 36px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 300;
}